/* Container general lors de l'affichage complet d'un jeu */
.divFicheJeux{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    width: 100%;
}

.divFicheLigne1, .divFicheLigne2{
    padding: 10px;
    width: 100%;
}

.ligne1{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Nom du jeux */
.nomJeuxGestionnaire{
    font-size: 2rem;
    margin-right: 5% !important;
    padding: 0px;
}

.ligne1 img{
    width: 200px;
    height: 250px;
}

.ligne2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.dateJeux{
    display: flex;
    flex-direction: column;
} 

.divFicheDesc{
    width: 100%;
}

.divDescriptions{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
}

/* Titre description longue et description courte */
.divDescCourt p:first-child, .divDescLong p:first-child{
    font-weight: bold;
}

/* Bouton ajouter aux favoris et également retirer des favoris */
.boutonAjouterJeux{
    width: fit-content;
    margin: auto;
}

/* Bouton retour */
.divFicheBoutonRetour{
    width: fit-content;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
}

.boutonRetour{
    width: fit-content;
    padding: 5px;
    background-color: rgb(0, 98, 255);
    border-radius: 0.5rem;
    cursor: pointer;
}

.boutonRetour:hover{
    background-color: rgb(0, 62, 179);
}
